<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunzimo.mapper.FunctionMapper" >
  <resultMap id="BaseResultMap" type="com.yunzimo.Bean.Function" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="analysisname" property="analysisname" jdbcType="VARCHAR" />
    <result column="modele_fk" property="modeleFk" jdbcType="INTEGER" />
    <result column="functionname" property="functionname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="simpledis" property="simpledis" jdbcType="VARCHAR" />
    <result column="detaileddis" property="detaileddis" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>


  <select id="QueryAll" resultMap="BaseResultMap">
    select * from function
  </select>

  <select id="checkName" resultMap="BaseResultMap">
    select * from function where functionname=#{functionname} and modele_fk=#{modeleFk}
  </select>

  <insert id="insertFunction">
    insert into function
    (modele_fk, functionname, level, simpledis, detaileddis, remark)
    value
    (#{modeleFk},#{functionname},#{level},#{simpledis},#{detaileddis},#{remark})
  </insert>

  <select id="QueryById" resultMap="BaseResultMap">
    select * from function where id=#{id}
  </select>

  <update id="editFunction">
    update function set modele_fk=#{modeleFk},functionname=#{functionname},level=#{level},
                        simpledis=#{simpledis},detaileddis=#{detaileddis},remark=#{remark}
        where id=#{id}
  </update>
</mapper>